{#{% load staticfiles %}#}
{% load i18n %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/registration/templates/css/style.css" >
    {% block userstyle %} {% endblock %}
    <title>{% block title %}Авторизация и регистрация{% endblock %}</title>
</head>

<body>
    <div class="win-registration">
        {% block body %}

        <div id="header">
            {% block header %} {% endblock %}
        </div>

        <div id="content">

            {% block content %}

                <div class="container">

                    <form class="form-3" method="post" action="">{% csrf_token %}

                        {% block pre_create_form %}
                        {% endblock %}

                        {# start - блок создание формы #}
                        {% block create_form %}

                            {# start - ошибки формы #}
                            {% if form.non_field_errors %}
                                <div class="myerrors clearfix">
                                    {{ form.non_field_errors }}
                                </div>
                            {% endif %}
                            {# end - ошибки формы #}

                            {# заголовок формы #}
                            {% block header_form %}
                            <h1>
                                {# заголовок формы #}
                                {% block header_form_context %}
        {#                        Авторизация и регистрация#}
                                {% endblock %}
                            </h1>
                            {% endblock %}

                            <br/><br/>

                            {# инфо формы #}
                            {% block info_form %}
                                <p class="info_text">
                                    {% block info_form_context %}
        {#                            Спасибо, что были с нами. Ждем вас снова.#}
                                    {% endblock %}
                                </p>
                            {% endblock %}

                            <br/><br/>

                            {# start - блок заполнение полей формы #}
                            {% block bind_field_form %}
                            <dl class="register">
                                {% for field in form %}
                                    <dt>{{ field.label_tag }}</dt>
                                    <dd class="clearfix">{{ field }}
                                        {% if field.help_text %}<div class="clearfix">{{ field.help_text }}</div>{% endif %}
                                        {% if field.errors %}<div class="myerrors clearfix">{{ field.errors }}</div>{% endif %}
                                    </dd>
                                {% endfor %}
                            </dl>
                            {% endblock %}
                            {# end - блок заполнение полей формы #}

                            {# кнопка submit формы #}
                            {% block button_submit_form %}
                                {% if form %}
                                  <input type="submit" value="{% block button_submit_form_name %}
                                  !! Наименование кнопки !!
                                  {% endblock %}"  class="clearfix">
                                {% endif %}
                            {% endblock %}

                        {% endblock %}
                        {# end - блок создание формы #}

                        {% block post_create_form %}
                            {# start - дополнительные ссылки формы #}
        {#                    <br/><br/>#}
        {#                    <ul>#}
        {#                        <li><a href="{% url 'auth_password_reset' %}">Забыли пароль?</a></li>#}
        {#                        <li><a href="{% url 'registration_register' %}">Регистрация</a></li>#}
        {#                    </ul>#}

        {#                    или ... #}

        {#                  <a href="{% url 'auth_login' %}"><input type="button" value="Вход" class="clearfix"></a>#}

                            {# end - дополнительные ссылки формы #}

                        {% endblock %}

                    </form>

                    {# установить фокус на поле формы #}
                    {% block set_focus_field_form %}
        {#                <script type="text/javascript">#}
        {#                    var field_form = document.getElementById('id_username');#}
        {#                    if (typeof (field_form) != 'undefined'){ field_form.focus(); }#}
        {#                </script>#}
                    {% endblock %}

                </div>

            {% endblock %}

        </div>

        <div id="footer">
            {% block footer %} {% endblock %}
        </div>

        {% endblock %}
    </div>
</body>

</html>