{% extends "base.html" %}
{#{% load i18n %}#}

{# заголовок формы #}
{% block header_form_context %}Восстановление пароля{% endblock %}

{# инфо формы #}
{% block info_form_context %}Забыли пароль? Введите свой email и мы вышлем Вам инструкции для его восстановления.{% endblock %}

{# кнопка submit формы #}
{% block button_submit_form_name %}Восстановить{% endblock %}

{% block post_create_form %}
    {# start - дополнительные ссылки формы #}
    <br/><br/>
    <ul>
        <li><a href="{% url 'auth_login' %}">Вход</a></li>
        <li><a href="{% url 'registration_register' %}">Регистрация</a></li>
    </ul>
    {# end - дополнительные ссылки формы #}
{% endblock %}

{% block set_focus_field_form %}
    <script type="text/javascript">
        var field_form = document.getElementById('id_email');
        if (typeof (field_form) != 'undefined'){ field_form.focus(); }
    </script>
{% endblock %}
