<!-- templates/reguser/registration_form.html -->
{% extends "base.html" %}
{#{% load i18n %}#}



{# заголовок формы #}
{% block header_form_context %}Регистрация{% endblock %}

{# кнопка submit формы #}
{% block button_submit_form_name %}Зарегистрироваться{% endblock %}

{% block post_create_form %}
    {# start - дополнительные ссылки формы #}
    <br/><br/>
    <ul>
        <li><a href="{% url 'auth_login' %}">Вход</a></li>
        <li><a href="{% url 'auth_password_reset' %}">Забыли пароль?</a></li>
    </ul>
    {# end - дополнительные ссылки формы #}
{% endblock %}

{% block set_focus_field_form %}
    <script type="text/javascript">
        var field_form = document.getElementById('id_username');
        if (typeof (field_form) != 'undefined'){ field_form.focus(); }
    </script>
{% endblock %}


<div id="header">
    {% block header %}

    {% endblock %}
</div>
