        <div class="modal-header">
            <h3 class="modal-title">{{ params.title }}</h3>
        </div>
        <div class="modal-body" id="body_confirm" ng-show="params.body">
            <div ng-include="params.body"></div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">Да</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Нет</button>
        </div>
