
<div class="row">

    <div class="col-lg-2 win-filter-film" data-offset-top="50">
      <!-- блок фильтров -->
      <div class="filter-title">Всего <span class="badge">{{ form_data.film_count }}</span></div><br>
      <hr style="margin-top: 5px; margin-bottom: 5px;">
      <div class="filter-title">Фильтр <span class="badge">{{ films_filtered.length }}</span></div><br>

      <form name="filterForm">

        <div style="margin: 2px 0;">
            <label class="filter-label" for="yearSelect">год: </label>
            <select class="filter-value" name="yearSelect" id="yearSelect" ng-model="form_data.filter_values.year">
              <option ng-repeat="opt in form_data.filter_years" value="{{ opt }}">{{ opt }}</option>
            </select>
        </div><div class="clearfix"></div>

        <div style="margin: 2px 0;">
            <label class="filter-label" for="genreSelect">жанр: </label>
            <select class="filter-value" name="genreSelect" id="genreSelect" ng-model="form_data.filter_values.genre">
              <option ng-repeat="opt in form_data.filter_genres" value="{{ opt }}">{{ opt }}</option>
            </select>
        </div><div class="clearfix"></div>

        <div style="margin: 2px 0;">
            <label class="filter-label" for="countrySelect">страна: </label>
            <select class="filter-value" name="countrySelect" id="countrySelect" ng-model="form_data.filter_values.country">
              <option ng-repeat="opt in form_data.filter_countries" value="{{ opt }}">{{ opt }}</option>
            </select>
        </div><div class="clearfix"></div>

        <div style="margin: 2px 0;">
            <label class="filter-label" for="directorSelect">режиссер: </label>
            <select class="filter-value" name="directorSelect" id="directorSelect" ng-model="form_data.filter_values.director">
              <option ng-repeat="opt in form_data.filter_directors" value="{{ opt.id }}">{{ opt.name }}</option>
            </select>
        </div><div class="clearfix"></div>

        <div style="margin: 2px 0;">
            <label class="filter-label" for="scenarioSelect">сценарий: </label>
            <select class="filter-value" name="scenarioSelect" id="scenarioSelect" ng-model="form_data.filter_values.scenario">
              <option ng-repeat="opt in form_data.filter_scenarios" value="{{ opt.id }}">{{ opt.name }}</option>
            </select>
        </div><div class="clearfix"></div>

        <div style="margin: 2px 0;">
            <label class="filter-label" for="producerSelect">продюсер: </label>
            <select class="filter-value" name="producerSelect" id="producerSelect" ng-model="form_data.filter_values.producer">
              <option ng-repeat="opt in form_data.filter_producers" value="{{ opt.id }}">{{ opt.name }}</option>
            </select>
        </div><div class="clearfix"></div>

        <div style="margin: 2px 0;">
            <label class="filter-label" for="operatorSelect">оператор: </label>
            <select class="filter-value" name="operatorSelect" id="operatorSelect" ng-model="form_data.filter_values.operator">
              <option ng-repeat="opt in form_data.filter_operators" value="{{ opt.id }}">{{ opt.name }}</option>
            </select>
        </div><div class="clearfix"></div>

        <div style="margin: 2px 0;">
            <label class="filter-label" for="actorSelect">актеры: </label>
            <select class="filter-value" name="actorSelect" id="actorSelect" ng-model="form_data.filter_values.actor">
              <option ng-repeat="opt in form_data.filter_actors" value="{{ opt.id }}">{{ opt.name }}</option>
            </select>
        </div><div class="clearfix"></div>

        <div style="margin: 2px 0;">
            <label class="filter-label" for="awardSelect">награды: </label>
            <select class="filter-value" name="awardSelect" id="awardSelect" ng-model="form_data.filter_values.award">
              <option ng-repeat="opt in form_data.filter_awards" value="{{ opt }}">{{ opt }}</option>
            </select>
        </div><div class="clearfix"></div>

        <div>
            <label class="filter-label" for="nameFilm">Название: </label>
            <input class="filter-value" name="nameFilm" id="nameFilm" ng-model="form_data.filter_values.nameFilm">
        </div><div class="clearfix"></div>

        <div class="filter-wrapper-range">
            <label class="filter-label-from-range" for="minRating">Рейтинг от: </label>
            <input class="filter-value-from-range" name="minRating" id="minRating" ng-model="form_data.filter_values.minRating">
            <label class="filter-label-to-range" for="maxRating"> до : </label>
            <input class="filter-value-to-range" name="maxRating" id="maxRating" ng-model="form_data.filter_values.maxRating">
        </div><div class="clearfix"></div>

        <div class="filter-wrapper-range">
            <label class="filter-label-from-range" for="minRuntime">Продолжит. от: </label>
            <input class="filter-value-from-range" name="minRuntime" id="minRuntime" ng-model="form_data.filter_values.minRuntime">
            <label class="filter-label-to-range" for="maxRuntime"> до : </label>
            <input class="filter-value-to-range" name="maxRuntime" id="maxRuntime" ng-model="form_data.filter_values.maxRuntime">
        </div><div class="clearfix"></div>

        <div class="filter-wrapper-range">
            <label class="filter-label-from-range" for="minSize">Размер файла (Mb). от: </label>
            <input class="filter-value-from-range" name="minSize" id="minSize" ng-model="form_data.filter_values.minSize">
            <label class="filter-label-to-range" for="maxSize"> до : </label>
            <input class="filter-value-to-range" name="maxSize" id="maxSize" ng-model="form_data.filter_values.maxSize">
        </div><div class="clearfix"></div>

        <div style="margin: 2px 0;">
            <label class="filter-label" for="resolutionSelect">Разрешение от: </label>
            <select class="filter-value" name="resolutionSelect" id="resolutionSelect" ng-model="form_data.filter_values.resolution">
              <option ng-repeat="opt in form_data.filter_resolutions" value="{{ opt }}">{{ opt['w'] }} х {{ opt['h'] }}</option>
            </select>
        </div><div class="clearfix"></div>

        <div>
            <label class="filter-label" for="statusSelect">Статус: </label>
            <select class="filter-value" name="statusSelect" id="statusSelect" ng-model="form_data.filter_values.status">
              <option ng-repeat="opt in form_data.filter_statuses" value="{{ opt.id }}">{{ opt.name }}</option>
            </select>
        </div><div class="clearfix"></div>

        <div style="margin: 2px 0;">
            <label class="filter-label" for="isMovie">Фильм есть: </label>
            <select class="filter-value" name="isMovie" id="isMovie" ng-model="form_data.filter_values.isMovie">
              <option ng-repeat="opt in arr_yes_no_void" value="{{ opt }}">{{ opt }}</option>
            </select>
        </div><div class="clearfix"></div>

        <div style="margin: 2px 0;">
            <label class="filter-label" for="isOnLine">Смотреть on-line: </label>
            <select class="filter-value" name="isOnLine" id="isOnLine" ng-model="form_data.filter_values.isOnLine">
              <option ng-repeat="opt in arr_yes_no_void" value="{{ opt }}">{{ opt }}</option>
            </select>
        </div><div class="clearfix"></div>

        <div class="filter-checkbox">
            <input type="checkbox" ng-model="form_data.filter_values.notFound" checked>&nbsp;Соответствие в КП не найдено</input>
        </div><div class="clearfix"></div>

        <hr style="margin-top: 5px; margin-bottom: 5px;">

        <div>
            <label class="filter-label" for="findText">Найти: </label>
            <input class="filter-value" name="findText" id="findText" ng-model="form_data.filter_values.findText">
        </div><div class="clearfix"></div>

        <hr style="margin-top: 5px; margin-bottom: 5px;">

        <div>
            <label class="filter-label" for="sortFilms">Сорт. по: </label>
            <select class="filter-value" name="sortFilms" id="sortFilms" ng-model="form_data.sortBy">
                <option ng-repeat="(opt_k, opt_v) in form_data.sort_fields" value="{{ opt_k }}">{{ opt_v }}</option>
            </select>
        </div><div class="clearfix"></div>

        <div>
            <label class="filter-label" for="sortDirection">Направление: </label>
            <select class="filter-value" name="sortDirection" id="sortDirection" ng-model="form_data.sortDirection">
                <option ng-repeat="(opt_k, opt_v) in form_data.sort_directions" value="{{ opt_k }}">{{ opt_v }}</option>
            </select>
        </div><div class="clearfix"></div>

        <hr style="margin-top: 5px; margin-bottom: 5px;">

        <div>
            <div class="filter-title">Новые файлы <span class="badge">{{ form_data.new_movies.length }}</span>:</div><br>
            <div class="filter-new-film-list">
                <div ng-repeat="item in form_data.new_movies">
                    <span>{{ item['name_file'] }} ({{ item['path_file'] }})</span><span ng-hide="$last">,</span>
                    <br>
                </div>
            </div>
        </div><br>

      </form>
    </div>

    <div class="col-lg-10" style="margin-left: 10px;">

        <div class="row">
            <div class="col-lg-6 film-list-wrap">

              <div class="row">
                <div class="col-lg-2 film-list-tile"
                     ng-repeat="film in form_data.film_list | filter : setFilter | orderBy: form_data.sortBy : form_data.sortDirection == 'desc' as films_filtered "
                     ng-click="film_edit(film)">

                    <!-- фильм по умолчанию - первый по списку -->
                    <div ng-if="$first && films_filtered.indexOf(form_data.film_details) == -1"><div ng-init="film_edit(film)"></div></div>

                    <!-- постер -->
                    <div class="film-list-tile-img">
                      <img ng-src="{{ film.img }}" alt="постер не найден" />
                    </div>
                    <!-- название, год -->
                    <div class="film-list-tile-footer">
                        <div ng-show="film.title">
                            <span class="film-list-tile-title">{{ film.title }}</span>, <span class="film-list-tile-year">{{ film.year }}</span>
                        </div>
                        <div ng-hide="film.title">
                            <div class="film-list-tile-title">соответствие не найдено</div>
                        </div>
                    </div>

                    <div>
                        <span class="film-list-tile-rating-ball">{{ film.rating_ball }}</span>
                        <span class="film-list-tile-rating-count"> ({{ film.rating_count }})</span>
                    </div>

                </div>

              </div>
            </div>
            <div class="col-lg-6 win-edit-film">
                <div ng-show="films_filtered.length > 0">

                  <div>
                      <!-- баннер-рейтинг - ссылка на КП -->
                      <a href='' ng-click="goExtRef('http://www.kinopoisk.ru/film/'+form_data.film_details.id_kinopoisk+'/')">
                          <img class="banner-kp" src='http://rating.kinopoisk.ru/{{ form_data.film_details.id_kinopoisk }}.gif' border='0'>
                      </a>

                      <!-- рейтинг, название, оригинальное название -->
                      <a class="film-path-file" href="" ng-click="goExtRef('http://www.kinopoisk.ru'+form_data.film_details.url_kinopoisk)">
                          <span class="film-rating">{{ form_data.film_details.rating_ball }}</span>
                          <span class="film-title">{{ form_data.film_details.title }}</span>
                          <span>({{ form_data.film_details.title_original }})</span>
                      </a>
                      <div class="clearfix"></div>

                      <!-- кнопки -->
                      <div>
                          <label class="btn-load-kp" id="LABEL_KP"  for="ID_KP" style="margin-top: 10px;">ID КП: </label>
                          <a href="#" editable-text="form_data.film_details.id_kinopoisk" class="btn btn-default btn-load-kp"
                             ng-hide="!form_data.is_admin || form_data.film_details.status == form_data.status_CONFIRMED"
                             onaftersave="setFilmDetail(form_data.film_details, 'id_kinopoisk', form_data.film_details.id_kinopoisk)"
                             e-required>
                              {{ form_data.film_details.id_kinopoisk }}
                          </a>
                          <div class="btn btn-default btn-load-kp"
                               name="ID_KP" id="ID_KP" ng-disabled="true"
                               ng-show="!form_data.is_admin || form_data.film_details.status == form_data.status_CONFIRMED">
                              {{ form_data.film_details.id_kinopoisk }}
                          </div>


                          <div ng-show="form_data.is_admin">
                              <button ng-disabled="!form_data.is_admin || form_data.film_details.status != form_data.status_NOT_MATCH"
                                      ng-click="loadFilmKP(form_data.film_details)" class="btn btn-primary btn-load-kp">Загрузить с КП</button>
                              <button ng-disabled="!form_data.is_admin || form_data.film_details.status == form_data.status_NOT_MATCH"
                                      ng-click="setFilmDetail(form_data.film_details, 'status', form_data.status_NOT_MATCH)" class="btn btn-warning btn-load-kp">Не соответствует</button>
                              <button ng-disabled="!form_data.is_admin || form_data.film_details.status == form_data.status_CONFIRMED"
                                      ng-click="setFilmDetail(form_data.film_details, 'status', form_data.status_CONFIRMED)" class="btn btn-success btn-load-kp">Подтверждаю</button>
                              <button ng-disabled="!form_data.is_admin || form_data.film_details.status == form_data.status_CONFIRMED"
                                      ng-click="deleteDetails(form_data.film_details)" class="btn btn-danger btn-load-kp">Удалить</button>
                          </div>
                          <div class="clearfix"></div>
                          <div>
                              <div id="detail-status-label" style="float: left;">Статус</div>
                              <div id="detail-status-value" style="float: left;">{{ form_data.filter_statuses_dict[form_data.film_details.status] }}</div>
                              <div style="float: left;" ng-show="!form_data.film_details.is_movie" id="detail-not-movie">Нет фильма!</div>
                          </div>
                          <div class="clearfix"></div>
                      </div>

                  </div>
                  <hr>

                  <div>
                      <!-- постер - ссылка на фильм -->
                      <a href="" ng-click="goExtRef(form_data.film_details.path_file)">
                        <img  class="leftimg img-thumbnail" ng-src="{{ form_data.film_details.img }}"
                              width="{{ 1.5*form_data.film_details.img_width }}" height="{{ form_data.film_details.img_height }}" alt="постер не найден"/>
                      </a>
                    <table>
                        <tr>
                            <td class="table-label">год</td>
                            <td class="table-value">{{ form_data.film_details.year }}</td>
                        </tr>
                        <tr>
                            <td class="table-label">жанр</td>
                            <td class="table-value"><span ng-repeat="item in form_data.film_details.genres">
                                <span ng-hide="$first">, </span><span>{{ item }}</span>
                            </span></td>
                        </tr>
                        <tr>
                            <td class="table-label">страна</td>
                            <td class="table-value"><span ng-repeat="item in form_data.film_details.countries">
                                <span ng-hide="$first">, </span><span>{{ item }}</span>
                            </span></td>
                        </tr>
                        <tr>
                            <td class="table-label">слоган</td>
                            <td class="table-value">{{ form_data.film_details.tag_line }}</td>
                        </tr>
                        <tr>
                            <td class="table-label">режиссер</td>
                            <td class="table-value"><span ng-repeat="item in form_data.film_details.directors">
                                <span ng-hide="$first">, </span><a href="#/person/{{ item.person__id }}">{{ item.person__name }}</a>
                            </span></td>
                        </tr>
                        <tr>
                            <td class="table-label">сценарий</td>
                            <td class="table-value"><span ng-repeat="item in form_data.film_details.scenarios">
                                <span ng-hide="$first">, </span><a href="#/person/{{ item.person__id }}">{{ item.person__name }}</a>
                            </span></td>
                        </tr>
                        <tr>
                            <td class="table-label">продюсер</td>
                            <td class="table-value"><span ng-repeat="item in form_data.film_details.producers">
                                <span ng-hide="$first">, </span><a href="#/person/{{ item.person__id }}">{{ item.person__name }}</a>
                            </span></td>
                        </tr>
                        <tr>
                            <td class="table-label">оператор</td>
                            <td class="table-value"><span ng-repeat="item in form_data.film_details.operators">
                                <span ng-hide="$first">, </span><a href="#/person/{{ item.person__id }}">{{ item.person__name }}</a>
                            </span></td>
                        </tr>
                        <tr>
                            <td class="table-label">актеры</td>
                            <td class="table-value"><span ng-repeat="item in form_data.film_details.actors">
                                <span ng-hide="$first">, </span><a href="#/person/{{ item.person__id }}">{{ item.person__name }}</a>
                            </span></td>
                        </tr>
                        <tr>
                            <td class="table-label">бюджет</td>
                            <td class="table-value">{{ form_data.film_details.budget }}</td>
                        </tr>
                        <tr>
                            <td class="table-label">сборы в США</td>
                            <td class="table-value">{{ form_data.film_details.profit_usa | currency }}</td>
                        </tr>
                        <tr>
                            <td class="table-label">сборы в России</td>
                            <td class="table-value">{{ form_data.film_details.profit_russia | currency }}</td>
                        </tr>
                        <tr>
                            <td class="table-label">сборы в мире</td>
                            <td class="table-value">{{ form_data.film_details.profit_world | currency }}</td>
                        </tr>
                        <tr>
                            <td class="table-label">мировая премьера</td>
                            <td class="table-value">{{ form_data.film_details.date_premier_str }}</td>
                        </tr>
                        <tr>
                            <td class="table-label">продолжительность</td>
                            <td class="table-value">{{ form_data.film_details.runtime }} мин.</td>
                        </tr>
                        <tr ng-show="form_data.film_details.awards">
                            <td class="table-label">награды: </td>
                            <td class="table-value"><span ng-repeat="item in form_data.film_details.awards">
                                <span ng-hide="$first">; </span><span>{{ item }}</span>
                            </span></td>
                        </tr>
                    </table>
                      <hr style="margin-bottom: 5px">
                      <div class="table-value">
                          {{ form_data.film_details.plot }}
                      </div>
                      <hr style="margin-top: 5px; margin-bottom: 5px;" ng-show="form_data.film_details.plot">
                  </div>

                  <div ng-hide="!form_data.film_details.is_movie">
                        <div style="vertical-align: top">
                            <video ng-show="form_data.film_details.is_converted" class="leftimg"
                                 style="width: auto; height: 250px; margin: 1px"
                                 src="{{ form_data.film_details.path_file }}" controls>
                              Тег video не поддерживается вашим браузером. Вы можете скачать файл <a href="{{ form_data.film_details.path_file }}">здесь</a>
                            </video>
                            <a href="{{ form_data.film_details.path_file }}">
                              <button ng-hide="form_data.film_details.is_converted" class="btn btn-primary">Скачать</button>
                            </a>
                        </div>
                      <div class="clearfix"></div>

                        <table>
                            <tr>
                                <td class="table-label">продолжительность</td>
                                <td class="table-value">{{ form_data.film_details.metadata.duration_str }}</td>
                            </tr>
                            <tr>
                                <td class="table-label">разрешение</td>
                                <td class="table-value">{{ form_data.film_details.metadata.width }} x {{ form_data.film_details.metadata.height }}</td>
                            </tr>
                            <tr>
                                <td class="table-label">размер файла</td>
                                <td class="table-value">{{ form_data.film_details.metadata.size }}</td>
                            </tr>
                        </table>
                  </div>

                  <hr style="margin-top: 5px; margin-bottom: 5px;">

                  <div class="film-path-file">
                      {{ form_data.film_details.path_file }}
                  </div>

                </div>
            </div>

        </div>
    </div>

</div>
