<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Мои фильмы</title>

    <link rel="stylesheet" href="../../../static/css/style.css">
    <style>
        .navbar { border-radius:0; }
    </style>
    <script src="../../../static/js/app.js"></script>
    <script src="conf/config.js"></script>
</head>

<body ng-app="catalogApp">

    <div ng-class="['container-fluid', 'main-header', {'poster-list': {{ PosterListForHeader|length }}, 'poster-list-null': !{{ PosterListForHeader|length }} }]">
        <div id="axis">
        {% for poster in PosterListForHeader %}
            <img class="object move-left" style="height: 150px; float: left;" ng-src="{{ poster }}" alt="постер не найден" />
        {% empty %}
            <p><h1>off-line кинотеатр</h1><h3>картотека фильмов с описанием и возможностью просмотра</h3></p>
        {% endfor %}
        </div>
    </div>

    <nav class="navbar navbar-inverse main-menu" data-spy="affix" data-offset-top="155">
      <ul class="nav navbar-nav" style="width: 100%">
                <li><a ui-sref="films">Фильмы</a></li>
                <!-- <li><a ui-sref="actors">Актеры</a></li> -->
                  {% if user_auth %}
                      <li ng-hide="{{ disable_auth }}" style="float: right"><a href="reg/logout">Выход</a></li>
                      <li ng-hide="{{ disable_auth }}" style="float: right; margin-top: 15px;"><span class="badge" style="color: #96f226">{{ user_name }}</span></li>
                  {% else %}
                      <li ng-hide="{{ disable_auth }}" style="float: right"><a href="reg/login">Вход</a></li>
                      <li ng-hide="{{ disable_auth }}"></li>
                  {% endif %}
      </ul>
    </nav>


    <!-- основной контент -->
    <div class="container-fluid">
        <div ui-view></div>
    </div>


</body>
</html>