
.main-header {
    width: 200%;
    height: 150px;
    padding: 0;
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    opacity: 0.5;
}

.poster-list {
    background-color: #fff;
}

.poster-list-null {
    background-color: #0799ff;
    color: #fff;
    padding-left: 20px;
}

.poster-list-img {
    height: 150px;
    width: auto;
}
.main-menu {
    z-index: 10;
    width: 100%;
}

.main-content {
    z-index: 1;
    background-color: #dae5ff;
}

.film-path-file {
    color: #003eff;
    /*white-space: nowrap; /!* Запрещаем перенос строк *!/*/
    word-wrap: break-word; /* Перенос слов */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    padding: 5px; /* Поля вокруг текста */
    text-overflow: ellipsis; /* Добавляем многоточие */
    font-size: smaller;
}

.film-rating {
    font-size: 16px;
    font-weight: bold;
    color: #b85700;
    margin-right: 10px;
}

.film-title {
  font-size: large;
  font-weight: bold;
}

#LABEL_KP {
    padding: 0 10px 0 10px;
    color: #c0a16b;
    vertical-align: middle;
}

#detail-status-label{
    float: left;
    color: #c0a16b;
    vertical-align: middle;
    padding: 0 10px 0 10px;
}

#detail-status-value{
    float: left;
    color: #66512c;
    vertical-align: middle;
    padding: 0 10px 0 10px;
}

#detail-not-movie{
    color: #de2720;
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
}

.leftimg {
  float:left; /* Выравнивание по левому краю */
  margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
}

.rightimg  {
  float: right; /* Выравнивание по правому краю  */
  margin: 7px 7px 7px 7px; /* Отступы вокруг картинки */
}

.filter-title {
    float: left;
    color: #5cacff;
    font-size: 12px;
    font-weight: bold;
}

.filter-label {
    /*padding: 0px 10px 0px 10px;*/
    /*float: left;*/
    margin-top: 5px;
    width: 40%;
    float: left;
    color: #c0a16b;
    vertical-align: middle;
    font-size: 10px;
}

.filter-value {
    /*padding: 0px 5px 0px 0px;*/
    margin: 0;
    width: 60%;
    float: right;
    color: #66512c;
    vertical-align: middle;
    font-size: 10px;
}

.filter-new-film-list {
    margin: 0;
    float: left;
    color: #66512c;
    vertical-align: middle;
    font-size: 9px;
    white-space: nowrap; //* Запрещаем перенос строк *//
    /*word-wrap: break-word; !* Перенос слов *!*/
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis; /* Добавляем многоточие */
}

.filter-checkbox {
    padding: 0px 5px 0px 5px;
    /*width: 60%;*/
    float: left;
    color: #66512c;
    vertical-align: middle;
    font-size: 10px;
}

.filter-wrapper-range {
    margin-top: 5px;
    margin-bottom: 5px;
}
.filter-label-from-range {
    width: 40%;
    float: left;
    color: #c0a16b;
    vertical-align: middle;
    font-size: 10px;
}
.filter-label-to-range {
    float: left;
    color: #c0a16b;
    vertical-align: middle;
    font-size: 10px;
    margin: 0 6px;
}
.filter-value-from-range {
    width: 22%;
    float: left;
    color: #66512c;
    vertical-align: middle;
    font-size: 10px;
}
.filter-value-to-range {
    width: 22%;
    float: right;
    color: #66512c;
    vertical-align: middle;
    font-size: 10px;
}

.table-label {
    padding: 0 10px 0 10px;
    color: #c0a16b;
    vertical-align: top;
}

.table-value {
    /*padding: 0px 5px 0px 0px;*/
    color: #66512c;
    font-size: 12px;
}

.banner-kp {
    /*position: fixed; !* Фиксированное положение *!*/
    float: right;
    top: 65px; /* Расстояние сверху */
    right: 15px; /* Расстояние от правого края окна браузера */
}

.win-filter-film {
    float: left;
    padding: 5px;
    width: 16%;
}

.win-edit-film {
    float: right;
    padding: 10px;
    background-color: #ffe;
    border: 1px solid #bebebf;
    -webkit-border-radius: 5px;
            border-radius: 5px;
}


.film-list-wrap {
    float: left;
    border: 1px solid #dcdcdc;
    -webkit-border-radius: 5px;
            border-radius: 5px;
}

.film-list-tile {
    padding: 5px;
    border-right: 1px solid #E8ECF2;
    border-bottom: 1px solid #E8ECF2;
}
.film-list-tile:hover {
    opacity: 0.7;
    background-color: #fff5e1;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


.film-list-tile:nth-child(6n) {border-right: none;}
/*.film-list-tile:nth-last-child(1),*/
/*.film-list-tile:nth-last-child(2),*/
/*.film-list-tile:nth-last-child(3),*/
/*.film-list-tile:nth-last-child(4),*/
/*.film-list-tile:nth-last-child(5),*/
/*.film-list-tile:nth-last-child(6) {*/
    /*border-bottom: none;*/
/*}*/

.film-list-tile-img{
    text-align: center;
    height: 190px;
    padding-bottom: 5px;
    border-bottom: 1px solid #E8ECF2;
}
.film-list-tile-img img{
    display: inline-block;
    height: 100%;
    max-width: 100%;
}

.film-list-tile-footer{
    height: 70px;
    overflow: auto;
}

.film-list-tile-title {
    font-weight: bold;
    font-size: 12px;
}

.film-list-tile-year{
    color: #66512c;
    font-size: 10px;
}

.film-list-tile-rating-ball {
    font-size: 12px;
    font-weight: bold;
    color: #b85700;
}

.film-list-tile-rating-count {
    font-size: 10px;
    color: #c0a16b;
}


.btn:hover {
    color: #000 !important;
    background-color: snow;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/*.affix {*/
  /*top: 0;*/
/*}*/
.main-header + .affix {
  top: 0;
}

.win-filter-film + .affix {
  top: 50px;
}

/*.affix + .win-edit-film {*/
  /*top: 50px;*/
/*}*/

.affix + .container-fluid {
  padding-top: 70px;
}

.btn-load-kp {
    float: left;
    font-size: 10px;
    margin-right: 1px;
}

#axis:hover .move-left {
    transform: translate(-550px,0);
    -webkit-transform: translate(-550px,0); /** Safari & Chrome **/
    -o-transform: translate(-550px,0); /** Opera **/
    -moz-transform: translate(-550px,0); /** Firefox **/
}

.object {
    /*position: absolute;*/
    transition: all 5s ease-in-out;
    -webkit-transition: all 5s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 5s ease-in-out; /** Firefox **/
    -o-transition: all 5s ease-in-out; /** Opera **/
}